body {
    margin: 0;
    background-color: gainsboro
}

/*============= INICIO DO MENU =================*/

.menu ul .pub {
    width: 100px;
    height: 50px;
    margin-top: 5px;    
}

#pubg {
    position: absolute;
    left:0
}

.menu ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    background-color: white;
    justify-content: flex-end
}

.menu ul li a {
    padding: 15px 10px;
    display: inline-block;
    font-size: 23px;
    color: black;
    text-decoration: none
}

.menu ul li a:hover {   
    background-color: rgb(229, 255, 0)
}

.menu {
    z-index: 1;
    position:sticky;
    top:1px;
}

div.menu:hover {
    opacity: 1;
}

.menu i {
    font-size:17px;
}

.pub {
    animation:pub 5s linear infinite;
}

@keyframes pub {
    to {
        transform: rotateY(360deg)
    }
}

/*============= FIM DO MENU =================*/

/*============= INICIO DO SUMARIO =================*/

main dl {
    list-style-type: none;   
}

.sumario {
    margin-top: -10px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 200px;
    background-position-x: 60%;
}

/* TITULO - TIPOS DE ARMAS */
.sumario dl ul {
    display: flex;
    justify-content: center;
}
.sumario dl ul h1 {
    color: black;
    text-align: center;
    background-color:gainsboro;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.6);
    width: 350px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
}

/*================== ARMAS ===================*/
img{
    width:200px;
}
.linha{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left:130px;
}
.box-arma{
    
    width:400px;
}
.position{
    margin-left: 10px;
}
@media all and (min-width:960px) {
    .menu ul {
        display:flex;
        justify-content: space-around;
    }
}


.nome, .tipo{
    display: flex;
    
}

#filter-nome{
    border: none;
    border-bottom: 1px solid #c0c0c0;
}

#filter-type{
    margin-left: 10px;
}

.navbar{
    display: flex;
    justify-content: center!important;
}

 .status{
    font-weight:bolder;
    margin-top:10px;
}
 /* MODAL */
.box-container{
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(0, 0, 0, 0.5);
    top:0px;
    left:0px;
    z-index:2000;
    display:none;
    justify-content: center;
    align-items:center;
}
.mostrar{
    display:flex;
}
.box{
    background: white;
    width:450px;
    height:350px;
    padding:40px;
    border:5px solid black;
    box-shadow:0 0 0 5px yellow;
    position: relative;
}
.fechar{
    font-weight: bolder;
    background:white;
    position:absolute;
    top:0px;
    right:0px;
    width:30px;
}
